<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.automation.swaglabs.listeners.ExtentTestListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.automation.swaglabs.tests.LoginPageTest" />
			<class name="com.automation.swaglabs.tests.ProductPageTest" />
			<class name="com.automation.swaglabs.tests.CartPageTest" />
			<class name="com.automation.swaglabs.tests.CheckoutPageTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
